.signin_container {
  display: flex;
  align-items: flex-start;
  max-width: 10ovw;
  min-height: 100vh;

  .lady {
    background: url('../../assets/lady-with-an-ermine/gallery.jpg') no-repeat;
    width: 50%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    @media (max-width: 650px) {
      display: none;
    }
  }

  form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7rem;
    @media (max-width: 650px) {
      width: 80%;
      margin: 7rem auto 0;
    }

    h1 {
      font-size: 5rem;
      font-weight: bold;
      margin: 2rem 0;
      font-family: 'Italianno', cursive;
    }

    .signin_form {
      width: 50%;
      .error {
        display: block;
        text-align: right;
        margin-top: -0.5rem;
        right: 0;
        color: salmon;
      }

      @media (max-width: 850px) {
        width: 90%;
      }
      label {
        input {
          border: 1px solid grey;
          border-radius: 0.5rem;
          padding: 1rem;
          width: 100%;
          display: block;
          margin-top: 0.4rem;
          margin-bottom: 1rem;
          transition: all 0.2s ease-in-out;

          &:focus {
            outline: 1px solid skyblue;
          }
        }
      }

      button {
        width: 100%;
        padding: 0.75rem 2rem;
        font-size: 1.1rem;
        font-family: inherit;
        border: none;
        background-color: none;
        text-decoration: none;
        background-color: salmon;
        color: white;
        font-weight: bold;
        border-radius: 0.5rem;
        margin-top: 2.5rem;
        cursor: pointer;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 2rem;
        font-family: 'Italianno', cursive;

        @media (max-width: 650px) {
          font-size: 1.5rem;
        }

        a {
          font-size: 1rem;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          color: salmon;
          font-weight: bold;
        }
      }
    }
  }
}
